<ion-view view-title="Login" ng-controller="SignupCtrl as vm">
    <ion-content>
        <div class="padding text-center">
            
             <img src='img/FoodzIcon.png' class="intro-slide-image " width=225>
             
             <p style="color: red">{{vm.errorMessage}}</p>

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="vm.signupInfo.email" ng-change="vm.onFieldChange()">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="vm.signupInfo.password" ng-change="vm.onFieldChange()">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Confirm Password" ng-model="vm.signupInfo.confirmPassword" ng-change="vm.onFieldChange()">
                </label>
                
            </div>
            <button class="button button-block button-positive" ng-click="vm.registerWithEmail()" ng-disabled="!vm.signupInfo.isValid">Register</button>
            
            <button class="button button-block" ng-click="vm.goToSignin()">Already have an account? <b>Log in now</b></button>

            <!--<button class="button button-block button-assertive" ng-click="vm.loginWithFacebbok()" style="background-color:#3b5998">
        Log in with Facebook
      </button>-->
        </div>
    </ion-content>
</ion-view>